<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      th:replace="~{commons/layout :: layout(~{::body})}">
<head>
</head>
<body>
<div class="box" id="content">
<h3>売上一覧</h3>
	<div class="flex">
	<div>
		<form th:action="@{/Mgr/salesSummaryByItem}" method="post">
			<button type="submit">商品別売上</button>
		</form>
	</div>
	<div>
		<form th:action="@{/Mgr/salesSummaryByCustomer}" method="post">
			<button type="submit">顧客別売上</button>
		</form>
	</div>
	<div>
		<form th:action="@{/Mgr/salesSummaryByItemGenre}" method="post">
			<button type="submit">商品区分別売上</button>
		</form>
	</div>
	<div>
		<form th:action="@{/Mgr/salesSummaryByStaff}" method="post">
			<button type="submit">課員別売上</button>
		</form>
	</div>
	<div>
		<form th:action="@{/Mgr/salesSummaryByDate}" method="post">
			<button type="submit">日付別売上</button>
		</form>
	</div>
	</div>
 	<span th:text="${errormessage}" th:class="error"></span>
 	<table>
 		<tr class="hd2">
 			<th>No.</th>
 			<th>課員</th>
 			<th>売上日</th>
 			<th>顧客</th>
 			<th>売上明細確認</th>
 		</tr>
 		<tr th:each="sale,cnt:${salesList}" class="row">
 			<td th:text="${cnt.count}" class="c0"/>
 			<td th:text="${sale.mtUser.userName}" class="c4"/>
  			<td th:text="${sale.saleDate}" class="c3"/>
  			<td th:text="${sale.mtCustomer.customerName}" class="c3"/>
  			<td>
  				<form th:action="@{'/Mgr/salesDetailDisp/'+${sale.salesId}}" method="post">
  					<button type="submit" class="">明細確認</button>
  				</form>
  			</td>
 		</tr>
 	</table>
</div>
</body>
</html>