<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      th:replace="~{commons/layout :: layout(~{::body})}">
<head>
</head>
<body>
<div class="box" id="content">
<h3>顧客新規登録</h3>
 	<span th:text="${errormessage}" th:class="error"></span>
 	<form th:action="@{/Mgr/customerCreConf}" th:object="${customerForm}" method="post">
	 	<table>
	 		<tr>
	 			<th>顧客コード</th>
				<td><input type="text" name="customerCode" th:value="*{customerCode}" placeholder="8文字" autofocus="autofocus"/></td>
				<td><span th:errors="*{customerCode}" th:class="error"></span></td>
	 		</tr>
	 		<tr>
	 			<th>顧客名</th>
	 			<td><input type="text" name="customerName" th:value="*{customerName}" placeholder="20文字" /></td>
				<td><span th:errors="*{customerName}" th:class="error"></span></td>
	 		</tr>
	 	</table>
	 	<button type="submit" class="menuBtn">登録確認</button>
 	</form>
</div>
</body>
</html>